<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ww.android.governmentheart"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AXRM7G3M0haMnouOLp9G9PIaf85wSMpo"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <!--搜索-->
        <activity
            android:name=".activity.heart.SearchActivity"
            android:screenOrientation="portrait"/>

        <!--建言-->
        <activity
            android:name=".activity.wisdom.AdviceActivity"
            android:screenOrientation="portrait"/>

        <!--评论-->
        <activity
            android:name=".activity.heart.CommentsActivity"
            android:screenOrientation="portrait"/>

        <!--登录-->
        <activity
            android:name=".activity.home.LoginActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--提交成功-->
        <activity
            android:name=".activity.home.CommitSuccessActivity"
            android:screenOrientation="portrait"/>

        <!--launcher-->
        <activity
            android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!--显示建言-->
        <activity
            android:name=".activity.wisdom.ShowAdviceActivity"
            android:screenOrientation="portrait"/>

        <!--资料发送详情-->
        <activity
            android:name=".activity.wisdom.ShowTransmissionActivity"
            android:screenOrientation="portrait"/>

        <!--用户位置-->
        <activity
            android:name=".activity.home.UserLocationActivity"
            android:screenOrientation="portrait"/>
        <!--内容详情-->
        <activity
            android:name=".activity.base.ContentDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />

        <!--web-->
        <activity
            android:name=".activity.base.WebViewActivity"
            android:screenOrientation="portrait"/>

        <!--忘记密码-->
        <activity
            android:name=".activity.home.ChangePassActivity"
            android:screenOrientation="portrait"/>

        <!--资料传输-->
        <activity
            android:name=".activity.wisdom.TransmissionActivity"
            android:screenOrientation="portrait"/>

        <!--提交成功-->
        <activity
            android:name=".activity.wisdom.CommitSuccessActivity"
            android:screenOrientation="portrait"/>

        <!--选择联系人-->
        <activity
            android:name=".activity.wisdom.ChooseContactActivity"
            android:screenOrientation="portrait"/>

        <!--统战成员-->
        <activity android:name=".activity.home.MemberActivity"
                  android:screenOrientation="portrait"/>

        <!--新增问题-->
        <activity android:name=".activity.wisdom.QuestionActivity"
                  android:screenOrientation="portrait"/>

        <!--显示问题-->
        <activity android:name=".activity.wisdom.ShowQuestionActivity"
                  android:screenOrientation="portrait"/>

        <!--在线阅读-->
        <activity android:name=".activity.base.OnLineReadActivity"
                  android:screenOrientation="portrait"/>

        <!--政策库内容-->
        <activity android:name=".activity.heart.PolicyContentActivity"
                  android:screenOrientation="portrait"/>

        <!--在线直播-->
        <activity android:name=".activity.base.OnLineLivingActivity"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>

        <!--搜索结果-->
        <activity android:name=".activity.heart.SearchResultActivity"
                  android:screenOrientation="portrait"/>

        <!--个人中心-->
        <activity android:name=".activity.base.UserActivity"
                  android:screenOrientation="portrait"/>

        <!--组织成员-->
        <activity android:name=".activity.home.OrgMembersActivity"
                  android:screenOrientation="portrait"/>

        <!--我的评论-->
        <activity android:name=".activity.home.MyCommentsActivity"
                  android:screenOrientation="portrait"/>

        <!--我的建言-->
        <activity android:name=".activity.home.MySuggestActivity"
                  android:screenOrientation="portrait"/>


        <activity

            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true">

            <intent-filter>

                <action android:name="com.tencent.smtt.tbs.video.PLAY" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <!--成员信息-->
        <activity android:name=".activity.home.MemberDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--通知详情-->
        <activity android:name=".activity.work.NotifyContentActivity"
                  android:screenOrientation="portrait"/>

        <!--数据画像-->
        <activity android:name=".activity.work.PortraitActivity"
                  android:hardwareAccelerated="true"
            android:screenOrientation="portrait"/>

        <!--主题详情-->
        <activity android:name=".activity.work.ThemeContentActivity"
                  android:screenOrientation="portrait"/>

        <!--回帖-->
        <activity android:name=".activity.work.ReplyForumActivity"
                  android:screenOrientation="portrait"/>

        <!--资料接收-->
        <activity android:name=".activity.work.ReceptionActivity"
                  android:screenOrientation="portrait"/>

        <!--资料发送-->
        <activity android:name=".activity.wisdom.DataTransmissionActivity"
                  android:screenOrientation="portrait"/>


        <!--<activity-->
            <!--android:name="com.vincent.filepicker.activity.NormalFilePickActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppOtherTheme"/>-->

        <!--7.0权限适配-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


    </application>

</manifest>